{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <h1>All Printers</h1>
        <table class="table">
            <tr>
                <th>Owner</th>
                <th>Printer</th>
                <th>Cloud Print ID</th>
                <th>Actions</th>
            </tr>
            {% for printer in printers %}
            <tr>
                <td>{{ printer.owner.id }} ({{ printer.owner.get.email }})</td>
                <td>{{ printer.display_name }}</td>
                <td>{{ printer.cloudprint_id }}</td>
                <td>
                    <form action="/printers/delete" method="post" style="display:inline">
                        <input type="hidden" name="printer_key_id" value="{{printer.key.id}}">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}