{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <form action="/printers/add" method="post">
            <fieldset>
                <legend>Add Printer</legend>
                <label>Owner</label>
                <input type="text" name="owner_name" placeholder="Barack Obama">
                <label>Email</label>
                <input type="text" name="email" placeholder="obama@hpeprint.com">
                <br />
                <button type="submit" class="btn">Add</button>
            </fieldset>
        </form>
    </div>
</div>
{% endblock %}